body{
    font-family: 'Roboto', sans-serif;
    color: #313131;
}

/* a{
    text-decoration: underline;
    color: #313131
} */

/* ----------------------------------------------Header */

.navbar-style{
    border-top: 4px solid rgb(53, 52, 52);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav{
    text-transform: uppercase;
}

.navbar-brand{
    font-size: 34px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-brand a{
    color: #313131;
} 

#scaffold-image{
  height: 600px;
  width: 100%;
  background: url("../images/Scaffold.jpg") no-repeat center center;

  animation-name: image-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#image-outer{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes image-zoom{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

#cover-text{
  font-size: 130%;
  letter-spacing: 2px;
  font-weight: 200;
  
  width:400px;
  height:200px;

  padding-top: 35px;
  padding-left: 30px;

  background-color: rgba(12, 12, 12, 0.555);

  bottom: 30px;
  right: 150px;

  position: absolute;

  color: #ffffff;
}

#cover-text h2{
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media screen and (max-width: 943px){
  #cover-text{
  left: 0px;
  width:300px;
  height:150px;
  padding-top: 15px;
  font-size: 100%;
  letter-spacing: 1px;
  }

  #scaffold-image, #image-outer{
      height: 50vh;
  }
}

/* ---------------------------------------------Main Text */

.main-text{
    padding-left: 5px;
}

.main-text h2{
    font-family: "Raleway";
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

.main-text p{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
}

.news{
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 30px;
}

.card{
    height: 580px;
}

#more {display: none;}

.no-blue-text p a, .no-blue-text li a{
    text-decoration: underline;
    color: #313131
}

.no-blue-text a:hover{
    color: #a837be
}

.btn-hover span:hover{
    color: white;
}

/* ------------------------------------------------Footer */

.departments{
    list-style: none;
    padding-left: 0;
}

.footer-style{
    padding-top: 40px;
    padding-left: 30px;
    border-top: #ceb546 3px solid;
    font-size: 12.8px;
}

.footer-style h6{
    font-weight: 300;
}

.footer-bottom{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #494949;
    color: #ffffff;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
}


