body{
    font-family: 'Roboto', sans-serif;
    color: #313131;
}

/* ----------------------------------------------Header */

.navbar-style{
    border-top: 4px solid rgb(53, 52, 52);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav{
    text-transform: uppercase;
}

.navbar-brand{
    font-size: 34px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-brand a{
    color: #313131;
} 


#image-outer{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#scaffold-image{
  height: 600px;
  width: 100%;
  background: url("../images/scaffold.jpg") no-repeat center center;

  animation-name: image-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#cover-text{
  font-size: 130%;
  letter-spacing: 2px;
  font-weight: 200;
  
  width:400px;
  height:200px;

  padding-top: 35px;
  padding-left: 30px;

  background-color: rgba(12, 12, 12, 0.555);

  bottom: 30px;
  right: 150px;

  position: absolute;

  color: #ffffff;
}

#cover-text h2{
  letter-spacing: 4px;
  font-weight: 300;
  margin-bottom: 15px;
}

#image-outer-publications{
  height: 520px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}

#publications-image{
  height: 516px;
  
  background: url("../images/publications2.jpg") no-repeat center center;
}

#image-outer-people{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#angelo-image{
  height: 600px;
  width: 100%;
  background: url("../images/people/angelo.JPG") no-repeat center center;
}

#image-outer-come-to-join-us{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#come-to-join-us-image{
  height: 600px;
  width: 100%;
  background: url("../images/come-to-join-us.jpg") no-repeat center center;
  background-size: cover;
}

#image-outer-tudelft{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;

}

#tudelft-image{
  height: 600px;
  width: 100%;
  background: url("../images/tu_delft.jpg") no-repeat center center;
  background-size: cover;
}

#image-outer-research{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;

}

#research-image{
  height: 600px;
  width: 100%;
  background: url("../images/research2.jpg") no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 943px){
  #cover-text{
  left: 0px;
  width:300px;
  height:150px;
  padding-top: 15px;
  font-size: 100%;
  letter-spacing: 1px;
  }
  
  #scaffold-image, 
  #image-outer, 
  #image-outer-publications, 
  #angelo-image,
  #image-outer-people,
  #image-outer-come-to-join-us,
  #come-to-join-us-image,
  #image-outer-tudelft,
  #tudelft-image
  {
      height: 50vh;
      background-size: cover;
  }

  #image-outer-research,
  #research-image{
      height: 30vh;
      background-size: cover;
  }
  
  #publications-image{
      background: url("../images/publications3.png") no-repeat center center;
      background-position-x: -60px;
      height: 50vh;
      background-size: cover;
  }
}

/* ---------------------------------------------Main Text */

.main-text{
    padding-left: 5px;
}

.main-text h2{
    font-family: "Raleway";
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

.main-text h4{
    font-family: "Raleway";
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
}

.main-text p{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
}

.news{
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 30px;
}

.card{
    height: 580px;
}

@media screen and (max-width: 992px){
  .card{
    height: 700px;
  }
}

@media (max-width: 768px) {
    .card{
    height: 500px;
  }
}

@media (max-width: 492px) {
    .card{
    height: 540px;
  }
}

#more {display: none;}

.no-blue-text p a, .no-blue-text li a{
    color: #0c7dbb;
}

.no-blue-text a:hover{
    text-decoration: underline;
    color: #e9711c;
}

.btn-hover span:hover{
    color: white;
}

#cell_microenvironment{
    width: 400px;
    
}

/* ---------------------------------------------------Publications */

.publications p{
    background-color: #f1f0f0;
    padding: 25px 40px;
}

.publications p span{
    font-weight: 500;
    font-size: 17px;
}

.lowercase{
    text-transform: lowercase;
}

.publications-container{
    margin-bottom: 70px;
}

/* ---------------------------------------------------People */

.photo{
    height: 200px;
    width: 150px;
    object-fit: cover;
}

.people p{
    margin-bottom: 10px;
}

.people h5{
    margin-bottom: 20px;
}

.margin-bottom{
    margin-bottom: 40px;
}

/* ------------------------------------------------Come to join us */

.grey-box{
    background-color: #f1f0f0;
    padding: 25px 40px 8px 40px;
}

.master-projects li{
    margin-bottom: 10px;
}

/* ------------------------------------------------Contact */

.contact p{
    margin-bottom: 5px;
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:900px;
}

#gmap_canvas{
    width: 900px; 
    height:500px; 
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
}

@media screen and (max-width: 1060px){
  .mapouter, #gmap_canvas {
    height:30vh;
    width:100%;
   }
}

/* @media screen and (max-width: 768px){
  .mapouter, #gmap_canvas {
    height:30vh;
    width:100%;
   }
} */

/* @media screen and (max-width: 576px){
  .mapouter, #gmap_canvas {
    height:35vh;
    width:100%;
   }
} */




/* ------------------------------------------------Footer */

.departments{
    list-style: none;
    padding-left: 0;
}

.footer-style{
    padding-top: 30px;
    padding-left: 30px;
    border-top: #f8f9fa 4px solid;
    font-size: 12.8px;
}

.footer-style h6{
    font-weight: 300;
}

.departments h6{
    font-weight: 500;
}

.footer-bottom{
    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px;
    background-color: #494949;
    color: #ffffff;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #7c7b7b;
}

.social-links{
    margin-top: 20px;
}

@media screen and (min-width: 800px){
  .footer-style{
  padding-left: 50px;
  }
}
